
/* CONTAINER------------------------------------ */
* {
  font-family: Roboto, Arial;
  color: white;
}
 

nav{
  height: 400px;
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 0px;
  background-color: rgb(4, 4, 35);
}

.main-header{
  padding: 20px;
  height: 30px;
  width: 1033;
  display: flex;
  align-items: center;
  justify-content: left;
  background-color: rgb(16, 93, 67);
 
}

.krishna-icon{
  list-style-image:20px ;
  height: 50px;
  width: 60px;
  margin-right: 200px;
  margin-left: 160px;
  border: 1px solid red;s
  display: inline-block;
  
}

.header-left{
  dis
}
.header-right{
  display: flex;
  align-items: center;
  justify-content: right;
  margin-right: 20px;
}
.header-right ul li{
  list-style: none;
  display: inline-block;
}

.header-link{
  font-size: 16px;
  margin-right: 30px;
}


  
.website-column-left{
  width: 500px;
  display:flex;
  justify-content: center;
  margin-top: 40px;
  margin-left: 300px;
  font-size: 14px;
  margin-right: 600px;
}

.col-1{
  width: 700px;
}
.link-2{
  display: inline-block;
  width: 100px;
  font-size: 16px;
}

.link-3{
  display: inline-block;
  font-size: 12px;
  width: 300px;
}

.btn{
  background-color: rgb(17, 131, 246);
  border-radius: 15%;
}

.placeholder{
  background-color:blueviolet;
  padding: 40px 50px;
  border: 1px solid red;
  height: 100px;
  width: 1000px;
  margin-top: 30px;
  margin-left: 50px;
  font-size: 14px;
}
.place-holder{
  align-items: center;
  width: 250px;
  margin-top: 40px;
  margin-left: 25px;
}
  
/* ------------------------------------- */
.white-background{
  height: 400px;
  margin-left: 150px;
  margin-right: 150px;
  background-color: gray;
  background-color: white;
}



.random-info-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 50px 50px;
  grid-gap:20px;
  justify-content: center;
}

.some-random-info{
  color:blue;
  width: 300px;
  margin-left: 400px;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 60px;
}

.box{
  border: 1px solid blue;
  margin-top: 60px;
  margin: 2px;
  width: 150px;
  height: 100px;
  align-items: center;
  margin-left: 50px;
  border-radius: 10px;

}

.under-box-text{
  color: blue;
  font-size: 12px;
  width:150px;
  margin-left: 60px;
  display: inline-block;
}

/* --------Gray Background---------------- */

.gray-background{
  background-color: rgb(190, 187, 187);
  margin-left: 150px;
  margin-right: 150px;
  height: 300px;
}

.quote{
  display:inline-block;
  margin-top: 100px;
  margin-left: 300px;
  width: 450px;
  font-size: 20px;
  color: gray;
  justify-content: center;
}

.thunder{
  width: 400px;
  margin-left: 600px;
  color: black;
}

.white-call-to-action-box{
  display: flex;
  background-color:white;
  justify-content: row;
  margin-left: 150px;
  margin-right: 150px;
  height: 200px;
}

.blue-box{
  background-color: rgb(17, 131, 246);
  width: 700px;
  height: 90px;
  margin-left: 200px;
  margin-top: 60px;
  border-radius: 5px;
  list-style: none;
}

.action{
  color: white;
  font-size: 18;
  display: inline-block;
  margin-bottom: 0px;
}

.sign{
  font-size: 12px;
  width: 600px;
  display:inline-block;
  margin-bottom: 30px;
  list-style: none;
  margin-top: 0px;
}

.btn2{
  display:inline-block;
  border-color:rgb(255, 255, 255);
  text-decoration-color: white;
  background-color: rgb(17, 131, 246);
  border-radius: 5px;
  width: 100px;
  margin-left: 180px;
  border-style: solid;
  }

.call-to-action, copy-rights{
  text-align: center;
}

.blue-copy-rights{
  display: flex;
  background-color: rgb(14, 12, 35);
  justify-content: row;
  margin-left: 150px;
  margin-right: 150px;
  height: 100px;
}

.copyrights{
  padding: 5px 5%;
  display: inline-block;
  margin-left: 300px;
  margin-top: 20px;

}